.nav{
    background: #ffff;
    width: 100%;
    max-width:initial;
    height:60px;
  }
.nav-link {
    color: #8d3538; 
}
.brand-logo{
  height:40px;
  margin-top:10px;
}
.table-heading {
    background-color: #8e3436;
    height: 30px;
    color:#ffff;
}
.coding-complete{
    background-color: white;
    font-size:15;
    line-height:1px;
}
.coding-above75{
    background-color:#d6ffd9;
    font-size:16;
    line-height:3px;
}
.coding-above50{
    background-color: #fff6d6;
    font-size:16;
    line-height:4px;
}
.coding-above25{
    background-color:#87cefa;
    font-size:16;
    line-height:4px;
}
.coding-below25{
    background-color:#ffe5e5;
    font-size:16;
    line-height:4px;
}
